/* Body */
body {
    font-family: sans-serif;
    margin: auto;
    padding: auto;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: url('../img/header-kriska.jpg') no-repeat center;
    background-color: #2c6e55;
    margin: auto;
    height: 250px;
    background-size: cover;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    opacity: 0.9;
    filter: contrast(100%);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 70px;
    background: #2c6e55;
    color: #ffffff;
}

.header-title {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 1;
    padding: 1;
    flex-grow: 1;
}

/* Header Buttons */
.header-buttons a {
    display: inline-block;
    background: #2c6e55;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0,3s;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
}

/* Hover Effect */
.header-buttons a:hover {
    background: #224820;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .header-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .header-buttons a {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.header-nav {
    display: flex;
    gap: 15px;
}

.header-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

.header-nav a:hover {
    background: #224820;
}

/* Title Site */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 70px;
    background: grey;
    color: #ffffff;
}

.title-text {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 1;
    padding: 1;
    flex-grow: 1;
}

/* Container */
.container {
    width: 960px;
    margin: 20px auto;
    padding: 10px;
}

.add-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    background: #2c6e55;
    color: #ffffff;
    text-decoration: none;
}

.school-card {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.school-card img {
    max-width: 10px;
    color: #2980b9
}

@media (max-width: 600px) {

    .header-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav {
        flex-direction: column;
        width: 100%;
    }

    .header-nav a {
        width: 100%;
        padding: 10px 0;
    }

    .school-card {
        padding: 10px;
    }
    .add-btn {
        width: 100%;
        text-align: center;
        display: block;
    }
}

/* Logo */
#logo {
    margin: 20px;
    float: left;
    width: 210px;
    height: 210px;
    background: url('../img/logo-kriska.png') no-repeat center;
    background-size: contain;
    margin-top: 13px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#logo:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#logo_f {
    float: left;
    background: url('../img/logo-krika.png') no-repeat center;
    background-size: contain;
    margin-top: 13px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#logo_f:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.profile-content img {
    width: 700px;
    height: 450px;
    border-radius: 0%;
    margin-bottom: 20px;
}
.profile-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.profile-content p {
    font-size: 16px;
    color: #555;
}
.profile-content a {
    display: inline-block;
    background: #2c6e55;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}
.profile-content a:hover {
    background: #224820;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.profile-text {
    margin: 20px 0;
    font-size: 16px;
    color: #555;
    font-style: normal;
}