/* Dashboard */

/* Wrapper for content and footer */
.wrapper {
    min-height: 100vh; /* Ensures the content takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
}

/* Main content area */
.main-content {
    flex: 1; /* Pushes the footer to the bottom */
    display: flex;
    justify-content: space-between; /* Ensures left and right sections are balanced */
    padding: 20px;
}

/* Lembar Kiri */
.lembar-kiri {
    width: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.lembar-kiri h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.lembar-kiri p {
    font-size: 16px;
    line-height: 1.5;
}

.lembar-kiri img {
    padding: auto;
    border-radius: 10px;
    align-items: left;
}

/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
}

/* Individual Slides */
.slides {
    display: none;
    width: 100%;
    height: 100%;
}

/* Images inside slides */
.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*Navigation Dots*/
.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #2c6e55;
}

.news-box {
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.news-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2c6e55;
}

.news-box p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.news-box a {
    text-decoration: none;
    color: #2c6e55;
    font-weight: bold;
    transition: color 0.3s;
}

.news-box a:hover {
    color: #224820;
}

/* Table Kanan */
.lembar-kanan {
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.lembar-kanan table {
    width: 100%;
    border-collapse: collapse;
}

.lembar-kanan th, .lembar-kanan td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.lembar-kanan th {
    background-color: #2c6e55;
    color: white
}